.front {}

main {
  width: 100%;
  background-color: darken(white, 7%);
  height: 100%;
  position: relative;
  padding: 10px;
  padding-top: $gutter * 2;

  @include media($phone) {
    padding: 0;
  }

  .inner {
    background-color: white;
    position: relative;
    z-index: 10;
  }
}

section {
  height: auto;
  overflow: hidden;
  margin-bottom: $gutter;

  &.one_col {
    article {
      @include span-columns(12);
    }
  }

  &.two_col {
    article {
      @include span-columns(6);

      @include media($tablet) {
        @include span-columns(4);

        @include omega(even);
      }


      @include media($phone) {
        @include span-columns(4);

        margin-bottom: $gutter;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.three_col {
    article {
      @include span-columns(4);

      @include media($tablet) {
        @include span-columns(4);

        @include omega(even);

        &:last-child {
          display: none;
        }
      }


      @include media($phone) {
        @include span-columns(4);

        @include omega(first-child);

        margin-bottom: $gutter;

        &:nth-last-child(2) {
          display: block;
          margin-bottom: $gutter;
        }

        &:last-child {
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }

  &.four_col {
    article {
      @include span-columns(3);

      @include media($tablet) {
        @include span-columns(4);

        @include omega(even);

        margin-bottom: $gutter;

        &:last-child, &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }


      @include media($phone) {
        @include span-columns(4);

        margin-bottom: $gutter;

        &:nth-last-child(2) {
          margin-bottom: $gutter;
        }
      }
    }
  }

  &.six_col {
    article {
      @include span-columns(2);

      @include media($tablet) {
        @include span-columns(4);

        @include omega(even);

        margin-bottom: $gutter;
      }


      @include media($phone) {
        @include span-columns(4);

        margin-bottom: $gutter;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  article {
    background-color: $blue;
    min-height: 200px;

    @include transition(background 200ms ease);

    @include media($tablet) {
      @include span-columns(8);

      background-color: darken($blue, 10%);
    }


    @include media($phone) {
      @include span-columns(4);

      background-color: darken($blue, 20%);
    }
  }

  &.top {
    .inner {
      background: none;
    }

    article {
      background: none;
      min-height: 150px;
    }
  }
}